body {
  background-color: #eceef1;
  padding: 0;
  font-family: "Gotham Book", "Arial", sans-serif; }
  body .texto-centro {
    text-align: center; }
  body .container-fluid {
    padding: 0; }
    body .container-fluid #area1 {
      background: url(../img/adv.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 700px;
      padding: 0 50px 0 50px;
      display: -webkit-flex;
      display: flex;
      color: #eceef1; }
      @media screen and (max-device-width: 850px) {
        body .container-fluid #area1 {
          padding: 0 40px 0 40px; } }
      @media screen and (max-device-width: 850px) {
        body .container-fluid #area1 {
          height: 100%;
          padding-bottom: 25px; } }
      body .container-fluid #area1 #logo {
        margin: 30px 0 50px 0;
        position: absolute;
        left: 50%; }
        @media screen and (max-device-width: 850px) {
          body .container-fluid #area1 #logo {
            width: 30%; } }
        body .container-fluid #area1 #logo img {
          position: relative;
          left: -50%; }
          @media screen and (max-device-width: 850px) {
            body .container-fluid #area1 #logo img {
              width: 100%; } }
      body .container-fluid #area1 #area-conteudo {
        margin: auto;
        margin-top: 50%; }
        body .container-fluid #area1 #area-conteudo h1 {
          margin: 0;
          color: #eceef1; }
        body .container-fluid #area1 #area-conteudo p {
          color: #eceef1; }
          @media screen and (max-device-width: 850px) {
            body .container-fluid #area1 #area-conteudo p {
              font-size: 18px; } }
    body .container-fluid #area2 {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 700px;
      padding: 0 65px 0 65px; }
      @media screen and (max-device-width: 850px) {
        body .container-fluid #area2 {
          padding: 0 40px 0 40px; } }
      body .container-fluid #area2 .botoes {
        margin-top: 50px; }
        body .container-fluid #area2 .botoes .botao {
          background-color: transparent;
          margin: 4px 2px;
          padding: 8px 20px;
          margin-bottom: 0;
          cursor: pointer;
          border: 1px solid #8290a3;
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          color: #8290a3; }
          @media screen and (min-device-width: 850px) {
            body .container-fluid #area2 .botoes .botao {
              width: 48%; } }
      body .container-fluid #area2 .input-group {
        margin-bottom: 10px;
        width: 100%; }
        body .container-fluid #area2 .input-group input {
          background-color: #dde3ec;
          color: #788aa5;
          height: 40px;
          border: none;
          border-radius: 5px; }
        body .container-fluid #area2 .input-group input[type=number]::-webkit-inner-spin-button,
        body .container-fluid #area2 .input-group input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
      body .container-fluid #area2 #box1 {
        margin-top: 25px; }
        @media screen and (max-device-width: 850px) {
          body .container-fluid #area2 #box1 {
            width: 100%; } }
        body .container-fluid #area2 #box1 h3 {
          margin: 0;
          color: #8290a3; }
        body .container-fluid #area2 #box1 #descricao {
          color: #8290a3;
          opacity: 0.5; }
        body .container-fluid #area2 #box1 button {
          background-color: #DC4115;
          color: white;
          padding: 10px 40px 10px 40px;
          border-radius: 5px;
          font-size: 17px; }
      body .container-fluid #area2 #box2 {
        display: none;
        margin-top: 25px; }
        body .container-fluid #area2 #box2 h3 {
          margin: 0;
          color: #8290a3; }
        body .container-fluid #area2 #box2 #descricao {
          color: #8290a3;
          opacity: 0.5; }
        body .container-fluid #area2 #box2 button {
          background-color: #DC4115;
          color: white;
          padding: 10px 40px 10px 40px;
          border-radius: 5px;
          font-size: 17px; }

/*# sourceMappingURL=estilo.css.map */
